DROP TABLE IF EXISTS 'channels';
CREATE TABLE channels(
id INTEGER PRIMARY KEY NOT NULL,
name VARVHAR(32) NOT NULL,
type INTEGER NOT NULL,
gbcode VARCHAR(32) NOT NULL,
father_gbcode VARCHAR(32) NOT NULL
);